<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Users</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <a href="/dashboard">Dashboard</a> &nbsp;&nbsp;
    <a href="/all-user">All users</a> &nbsp;&nbsp;
    <a href="/add-user">Add User</a> &nbsp;&nbsp;
    <a href="/logout">Logout</a> &nbsp;&nbsp;
    <br />
    <h1>Edit Users</h1>
    <form id="editUserForm">
      <label for="name">Name:</label>
        <input type="text" id="name" name="name" /><br />
        <span id="nameError" style="color: red"></span><br /><br />
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" /><br />
        <span id="emailError" style="color: red"></span><br /><br />
        
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" /><br />
        <span id="ageError" style="color: red"></span><br /><br />
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" /><br />
        <span id="usernameError" style="color: red"></span><br /><br />

      <input type="submit" value="Edit User" />
    </form>
    <script>
      const urlParts = window.location.pathname.split("/");
      const userId = urlParts[urlParts.length - 1];
      const form = document.getElementById("editUserForm");

      if (userId) {
        fetch(`/api/find-user/${userId}`)
          .then((response) => response.json())
          .then((user) => {
            document.getElementById("name").value = user.name;
            document.getElementById("email").value = user.email;
            document.getElementById("age").value = user.age;
            document.getElementById("username").value = user.username;
          })
          .catch((error) => console.error("Error fetching user data:", error));
      }

      form.addEventListener("submit", async function (event) {
          event.preventDefault();
          const formData = new FormData(form);
  
          // it will convert data in an Object from
          let data = Object.fromEntries(formData);
  
          const response = await fetch(`/api/edit-user/${userId}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
  
          const responseData = await response.json();
          handleErrors(responseData, formData);
        });
  
        function handleErrors(data, formData) {
          let noErrors = true;
          for (let [key] of formData.entries()) {
            const errorElement = document.getElementById(`${key}Error`);
            if (data[key]) {
              errorElement.innerText = data[key];
              noErrors = false;
            } else {
              errorElement.innerText = "";
            }
          }
  
          if (noErrors) {
            alert("User Edited successfully!");
            window.location.href = "/all-user";
          }
        }
    </script>
  </body>
</html>
